# Outline Shadowbox
SB_STATE_DIR=/opt/outline/persisted-state
SB_API_PORT=
SB_API_PREFIX= #head -c 16 /dev/urandom | openssl base64 | tr '/+' '_-' | tr -d '='
SB_CERTIFICATE_FILE=/opt/outline/persisted-state/shadowbox-selfsigned.crt
SB_PRIVATE_KEY_FILE=/opt/outline/persisted-state/shadowbox-selfsigned.key
SB_METRICS_URL=

# Watchtower
WATCHTOWER_REFRESH_SECONDS=3600